* {
  box-sizing: border-box;
  margin: none;
  padding: none;
}

h1 {
  font-family: monospace;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 5px;
  font-size: 30px;
  line-height: 40px;
  color: #006;
}

#introduction {
  margin-left: 5%;
  text-align: center;
  background-color: lightgray;
  padding: 5px;
  width: 90%;
  box-shadow: 5px 5px 5px #aaa;
  border-radius: 5px;
}

#introduction p {
  font-size: 15px;
  font-family: monospace;
}

#startButton {
  font-size: 15px;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  font-weight: bold;
}

main {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

#touch {
  display: flex;
  padding-left: 1px;
}

.circle {
  position: relative;
  border: #aaa solid 2px;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  margin-left: 1px;
  margin-right: 1px;
  pointer-events: initial;
}

.hoverGreen:hover {
  background-color: blue;
}

.hoverBlue:hover {
  background-color: green
}

#game {
  margin-top: 20px;
  width: 294px;
  height: auto;
  display: flex;
  justify-content: center;
  box-shadow: 2px 10px 5px #666;
}

#win {
  background-color: rgba(255, 255, 255, 0.686);
  margin-top: 80px;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 300px;
  height: 170px;
  border: 2px #000 solid;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #000;
}

#winner {
  text-align: center;
  color: green;
  font-size: 30px;
  font-weight: bold;
  margin-top: 5px;
}

#btnRestart {
  background-color: #000;
  font-size: 15px;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  font-weight: bold;
  color: #fff;
}

.columns {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 42px;
  height: 244px;
  border: #aaa solid 2px;
  border-right: none;
  margin: 0;
  background: #666;
  background: linear-gradient(90deg, #444 0%, #ddd 30%, #eee 50%, #ddd 70%, #444 99%);
  box-shadow: inset 0 0 3em #666;

}

#column6 {
  border-right: #aaa solid 2px;
}

.green {
  background-color: #008000;
}

.blue {
  background-color: #0000ff;
}

#green,
#blue {
  box-shadow: inset 0 0 1em #151515;
  border: #444 solid 1px;
  border-radius: 100%;
  width: 40px;
  height: 40px;
}

#playerDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

#player {
  background-color: green;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin-left: 20px;
}

.bloqueio {
  pointer-events: none;
}

@media screen and (min-width: 500px) {
  #introduction p {
    line-height: 24px;
  }

  .circle {
    width: 45px;
    height: 45px;
    margin-left: 1px;
    margin-right: 1px;
  }

  #game {
    margin-top: 30px;
    width: 329px;
    height: auto;
  }

  #win {
    margin-top: 105px;
    width: 370px;
  }

  .columns {
    width: 47px;
    height: 275px;
  }

  #green, #blue {
    width: 45px;
    height: 45px;
  }

  #playerDiv h3 {
    font-size: 30px;
  }
  
  #player {
    width: 40px;
    height: 40px;
  }
}

@media screen and (min-width: 768px) {

  h1 {
    font-size: 50px;
  }

  #introduction {
    margin: 0 auto;
    padding: 5px;
    width: 700px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #introduction p {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 100px;
  }

  #startButton {
    width: 150px;
    height: 50px;
  }

  h3 {
    font-size: 50px;
    margin: 30px;
  }

  #player {
    background-color: green;
    width: 60px;
    height: 60px;
  }

  .circle {
    width: 60px;
    height: 60px;
    margin: 0 4px;
  }

  #game {
    margin-top: 20px;
    width: 480px;
    height: 365px;
  }

  .columns {

    width: 68px;
    height: 365px;
    border: #aaa solid 2px;
    border-right: none;
    margin: 0;
  }

  #green,
  #blue {
    width: 60px;
    height: 60px;
  }

  #win {
    width: 500px;
    height: 200px;
  }

  #winner {
    text-align: center;
    padding: 0 10px;
    color: green;
    font-size: 40px;
    font-weight: bold;
  }

  .hoverGreen:hover {
    background-color: green;
    cursor: pointer;
  }
  
  .hoverBlue:hover {
    background-color: blue;
    cursor: pointer;
  }
}